<h1>Restaurant</h1>
<p>Information</p>


Restaurant: <%= @restaurant.name %>
<br>
Location: <%= @restaurant.address %>
<br>
Category: <%= @restaurant.category %>

<%= link_to "Add Review", new_review %>
